
.hangman{
    display: flex;
    padding: 0px;
    justify-content: center;
    height: 360px;
    width: 100%;
}

.boxh{
    position: fixed;
    height: 360px;
    width: 350px;
}

#hangman{
    display: none;
}

#base{
    position: absolute;
width: 350px;
height: 5px;
left: 0px;
top: 400px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 8px;
}

#bar1{
    position: absolute;
width: 4.5px;
height: 360px;
left: 40px;
top: 43px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 8px;
}

#bar2{
    position: absolute;
    width: 177.75px;
    height: 4.5px;
    left: 40px;
    top: 40px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 8px;
}

#bar3{
    position: absolute;
    width: 4.5px;
    height: 49.5px;
    left: 214px;
    top: 40px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 8px;    
}

#b0{
    position: absolute;
width: 63px;
height: 63px;
left: 185px;
top: 90px;
background: #0A3871;
border-radius:50%;
border: solid 3px white;
overflow:hidden; /* Evitar que el contenido se visualice fuera del borde*/
}

#b1{
    position: absolute;
    width: 6.5px;
    height: 110px;
    left: 214px;
    top: 152px;
    border-radius: 8px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;    
}

#b2{
    position: absolute;
    width: 4.5px;
    height: 72px;
    left: 190px;
    top: 155px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 8px;
    transform: rotate(30deg);    
}

#b3{
    position: absolute;
    width: 4.5px;
    height: 72px;
    left: 240px;
    top: 155px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 8px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);    
}

#b4{
    position: absolute;
    width: 4.5px;
    height: 72px;
    left: 194px;
    top: 260px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 8px;
    transform: rotate(30deg);
}

#b5{
    position: absolute;
    width: 4.5px;
    height: 72px;
    left: 236px;
    top: 260px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 8px;
    transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);    
}