*{
	box-sizing: border-box;
 }

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: seashell;

}

header{
    background: linear-gradient(#444444 , #222222)
}

#logo{
    height: 10%;
    width: 4%;
    margin-left:2%;
    display: inline;
    justify-content: center;
}


#titulo{
    display: block;
    color: #838383;
    margin-left:0.5%;
    display: inline-flex;
    font-size: 300%;
    vertical-align: top;
    font-family: cursive;
    text-shadow: 2px 2px #000000;
}

main{
    height: 90%;
}

.starts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;

}


#STb,#Anwb{
    display: flex;
    border-radius: 0.5em;
    text-shadow: 2px 2px #000000;

    
}

#STb{
    justify-content: center;
    padding: 2%;
    gap: 0.5;
    font-size: 5vw;
    background: #0A3871;
    margin: 1%;
}

#STb:hover{
    transition: 1s;
    transform: scale(1.05);
}

#Anwb{
    justify-content: center;
    padding: 1%;
    gap: 0.5;
    font-size: 3.5vw;
    margin: 1%;
    border: px solid #000;

}

#Anwb:hover{
    transition: 1s;
    transform: scale(1.05);
}

#input{
position: absolute;
width: 299px;
height: 60px;
left: 800px;
top: 350px;
text-align: center;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
border: none;

background-color: seashell;
color: #333;
}

#addArea{
    display: none;
}
.AddB{
    flex-direction: row;
    align-items: flex-start;  
    padding: 18px;
    gap: 8px;
    font-size: 24px;
    width: 332px;
    height: 67px;
    flex: none;
    order: 1;
    flex-grow: 1;
    border-radius: 24px;
    position: absolute;
}


#STb2{
    background: #525252;
    left: 400px;
    top: 701px;
    text-align: center;

}

#STb2:hover{
    transition: 1s;
    transform: scale(1.05);
}

#Addb{
background-color: #FF3;
border: 1px solid #0A3871;
left: 800px;
top: 701px;

}
#Addb:hover{
    transition: 1s;
    transform: scale(1.05);
}

#backb{
border: 1px solid #0A3871;
left: 1200px;
top: 701px;

}

#backb:hover{
    transition: 1s;
    transform: scale(1.05);
}

#warning{
    position: absolute;
    width: 200px;
    left: 450px;
    top: 660px;
}

footer {
    background-color: black;
    position: absolute;
    font-size: 100%;
    bottom: 0;
    width: 100%;
    color: white;
  }

#footer{

    display: flex;
    justify-content: center;
    margin: 0.9%;
    color: white;
}

#a1,#a2{
    color: white;
}