*{
	box-sizing: border-box;
 }

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: seashell;

}

header{
    background: linear-gradient(#444444 , #222222)
}

#logo{
    height: 3em;
    width: 3em;
    margin-left:2%;
    display: inline;
    justify-content: center;
}


#titulo{
    display: flex;
    color: #838383;
    margin-left:0.5%;
    display: inline-flex;
    font-size: 300%;
    vertical-align: top;
    font-family: cursive;
    text-shadow: 2px 2px #000000;
}

main{
    height: 90%;
}

.starts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

#STb,#Anwb{
    display: flex;
    border-radius: 0.5em;
    text-shadow: 2px 2px #000000;
}

#STb{
    justify-content: center;
    padding: 2%;
    gap: 0.5;
    font-size: 5vw;
    background: #0A3871;
    margin: 1%;
}

#STb,#Anwb:hover{
    transition: 1s;
    transform: scale(1.05);
}

#Anwb{
    justify-content: center;
    padding: 1%;
    gap: 0.5;
    font-size: 3.5vw;
    margin: 1%;
    border: px solid #000;

}

.AddB{
    height: 90%;
    display: flex;
}

#addArea{
    display: none;
    flex-direction: column;
}

.addword{
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#input{
    width: 12%;
    height: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 150%;
    border: none;
    
    background-color: seashell;
    color: #333;
    }
.divaddarea{
    display: flex;
    justify-content: center;
    margin-right: 40%;
}
.addarea{
    display: flex;
    justify-content: center;
    max-height: 8vw;
}
#STb2,#Addb,#backb{
    max-height: 100%;
    border-radius: 20px;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    gap: 0.5;
    font-size: 5vw;
    margin: 1%;
    margin-left: 3vw;
    margin-right: 3vw;
}



#STb2{
    align-content: center;

    background: #525252;

}
#Addb{

    background-color: #FF3;
    border: 1px solid #0A3871;
}

#backb{

border: 1px solid #0A3871;
left: 1200px;
top: 701px;

}
#STb2:hover{
    transition: 1s;
    transform: scale(1.05);
}
#Addb:hover{
    transition: 1s;
    transform: scale(1.05);
}
#backb:hover{
    transition: 1s;
    transform: scale(1.05);
}
#warning{
    font-size: 1vw;
}

footer {
    background-color: black;
    position: absolute;
    font-size: 100%;
    bottom: 0;
    width: 100%;
    color: white;
  }

#footer{

    display: flex;
    justify-content: center;
    margin: 0.9%;
    color: white;
}

#a1,#a2{
    color: white;
}